form.auth.pure-form
    input.auth__name(
        type="text"
        placeholder="Login"
        )
    input.auth__password(
        type="password"
        placeholder="Password"
        )
    button.auth__submit.pure-button.pure-button-primary(
        type="submit"
        ) Sign in
